body {
  background-color: rgb(218, 218, 218)
}
h1 {
  color: black;
  text-align: center;
}
p {
  color: red;
}
div {
    display: block;
}
#divID {
  color: blue; 
  font-size: 20px; 
  border: 2px solid red; 
  padding: 15px; 
  margin: 10px; 
}
.highlight {
  background-color: yellow; /* Setting the background color */
  color: black; /* Setting the font color */
  padding: 10px; /* Adding some padding around the text */
  border-radius: 5px; /* Optional: Adding rounded corners */
}